@import "tailwindcss";

@layer components {
  .bg-edge-fade {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(113, 111, 113, 1) 25%,
      rgba(113, 111, 113, 1) 72%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .img-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  }
}
